<mat-drawer-container class="home-container">
  <mat-drawer #drawer mode="side" opened class="sidebar-container">
    @for (farm of farmWithField(); track $index) {
      <span class="farm-title">{{farm.name}}</span>

      <ul class="field-list">
        @for (field of farm.fields; track $index) {
          <li class="field-item" (click)="changeField(field.id)">
            {{field.name}}
          </li>
        }
      </ul>
    }
  </mat-drawer>

  <mat-drawer-content>
    <div class="chart-card">
      <app-sensor-chart [sensorsData]="selectedSensorsData()"></app-sensor-chart>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
