<div class="task-container">
  <h2>
  <mat-icon style="font-size: 30px;" matPrefix>grass</mat-icon>
    Crops</h2>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let crop"> {{crop.id}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
        <td mat-cell *matCellDef="let crop"> {{crop.createdAt| date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> UpdatedAt </th>
        <td mat-cell *matCellDef="let crop"> {{crop.updatedAt| date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> cropName </th>
        <td mat-cell *matCellDef="let crop">
          @if (isEditing(crop.id)) {
            <div class="edit-field">
              <input matInput [(ngModel)]="crop.type" placeholder="type" />
            </div>
          }@else{
            {{crop.type}}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="variety">
        <th mat-header-cell *matHeaderCellDef> Variety </th>
        <td mat-cell *matCellDef="let crop">
          @if (isEditing(crop.id)) {
            <div class="edit-field">
              <input matInput [(ngModel)]="crop.variety" placeholder="variety" />
            </div>
          } @else {
            {{ crop.variety }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef> Season </th>
        <td mat-cell *matCellDef="let crop"> {{ crop.season }} </td>
      </ng-container>

      <ng-container matColumnDef="expectedYield">
        <th mat-header-cell *matHeaderCellDef> ExpectedYield </th>
        <td mat-cell *matCellDef="let crop">
          @if (isEditing(crop.id)) {
            <div style="background-color: rgb(221, 221, 221); border-radius: 10px; padding: 8px;" class="edit-field">
              <input [(ngModel)]="crop.expectedYield"/>
            </div>
          } @else {
            {{ crop.expectedYield }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let crop"> {{ crop.description }} </td>
      </ng-container>

      <ng-container matColumnDef="field">
        <th mat-header-cell *matHeaderCellDef> Field </th>
        <td mat-cell *matCellDef="let crop"> {{ crop.field.name }} </td>
      </ng-container>

      <ng-container matColumnDef="farm">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let crop"> {{ crop.field.aFarm.name }} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> <div style="text-align: center;">Edit</div>  </th>
        <td mat-cell *matCellDef="let crop">
          @if (isEditing(crop.id)) {
            <div class="coordinates-row">
              <button title="save" mat-icon-button color="primary" (click)="saveCrop(crop)">
                <mat-icon matPrefix>save</mat-icon>
              </button>
              <button title="cancel" mat-icon-button color="warn" (click)="cancelEdit()">
                <mat-icon matSuffix>close</mat-icon>
              </button>
            </div>
          } @else {
            <div style="text-align: center;">
              <button title="edit" mat-icon-button color="primary" (click)="startEdit(crop)">
                <mat-icon >mode_edit</mat-icon>
              </button>
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let crop">
          <button title="delete" mat-icon-button color="warn" (click)="deleteCrop(crop.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  @if(dataSource().length === 0){
    <div class="empty-state">
      <p>No Crops available.</p>
    </div>
  }
</div>
